<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kirjat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/index}">Lukuvinkkisovellus</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/books}">Kirjat</a></li>
                    <li><a th:href="@{/links}">Nettilähteet</a></li>
                    <li><a th:href="@{/podcasts}">Podcastit</a></li>
                    <li><a th:href="@{/courses}">Kurssit</a></li>
                </ul>
            </div>
        </nav>

        <div class="container" th:if="${books}">
            <h2>Kirjat</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nimi</th>
                    <th scope="col">Kirjailija</th>
                    <th scope="col">ISBN-koodi</th>
                    <th scope="col">Aiheeseen liittyvät kurssit</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="book : ${books}">
                    <tr>
                        <td><p th:text="${book.title}"/></td>
                        <td><p th:text="${book.author}"/></td>
                        <td><p th:text="${book.isbn}"/></td>
                        <td><p th:text="${book.courses}"/></td>
                    </tr>
                </div>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Lisää uusi kirja</h3>
            <form th:object="${book}" th:action="@{/books}" method="POST">
                <div class="form-group">
                    <label for="bookTitle">Kirjan nimi</label>
                    <input type="text" name="title" id="bookTitle" th:value="*{title}">
                    <div th:if="${#fields.hasErrors('title')}">
                        <div class="alert alert-danger" role="alert">
                            Kirjalle tulee syöttää nimi
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookAuthor">Kirjailija</label>
                    <input type="text" name="author" id="bookAuthor" th:value="*{author}">
                    <div th:if="${#fields.hasErrors('author')}">
                        <div class="alert alert-danger" role="alert">
                            Kirjalle tulee syöttää kirjailija
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bookIsbn">ISBN-koodi</label>
                    <input type="text" name="isbn" id="bookIsbn" th:value="*{isbn}">
					<!--<p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"/>-->
                </div>
                <div class="form-group">
                    <label for="courseSelect">Aiheeseen liittyvät kurssit</label>
                    <select class="form-control" id="courseSelect" name="selectedCourseId">
                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Lisää uusi kirja!</button>
            </form>
        </div>

    </body>
</html>
