<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:replace="/fragments/navbar"></div>
        <br>
        <div class="container" th:if="${message}">
            <div class="alert alert-success alert-dismissible" role="alert" th:text="${message}"></div>
        </div>
        <div class="container" th:if="${error}">
            <div class="alert alert-danger alert-dismissible" role="alert" th:text="${error}"></div>
        </div>

        <div class="container">
            <br>
            <h2>Kurssit</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Koodi</th>
                        <th scope="col">Nimi</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="course : ${courses}">
                        <tr>
                            <td><p th:text="${course.code}"/></td>
                            <td><p th:text="${course.name}"/></td>
                        </tr>
                    </div>
                    <tr></tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Lisää uusi kurssi</h3>
            <form th:object="${course}" th:action="@{/courses}" method="POST">
                <div class="form-group">
                    <label for="courseCode">Kurssikoodi</label>
                    <input type="text" name="code" id="courseCode">
                    <div th:if="${#fields.hasErrors('code')}">
                        <div class="alert alert-danger" role="alert" th:errors="*{code}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="courseName">Kurssin nimi</label>
                    <input type="text" name="name" id="courseName">
                    <div th:if="${#fields.hasErrors('name')}">
                        <div class="alert alert-danger" role="alert" th:errors="*{name}"></div>
                    </div>
                </div>
                <button type="submit" name="submitCourse" class="btn btn-dark">Lisää uusi kurssi!</button>
            </form>
        </div>

    </body>
</html>