<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">Lukuvinkkisovellus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" th:href="@{/courses}">Kurssit</a>
                    <a class="nav-item nav-link" th:href="@{/uusi}">Lisää lukuvinkki</a>
                </div>
            </div>
        </nav>

        <div class="container" th:if="${message}">
            <div class="alert alert-success alert-dismissible" role="alert" th:text="${message}"></div>
        </div>
        <div class="container" th:if="${error}">
            <div class="alert alert-danger alert-dismissible" role="alert" th:text="${error}"></div>
        </div>
        <br>
        <div class="container">
            <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Etsi listasta" title="Etsi listasta">
        </div>
        <br>
        <div class="container" id="vinkkilista"th:if="${recommendations}">
            <h2>Lukuvinkit</h2>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Kuvaus</th>
                    <th scope="col">Kurssit</th>
                    <th scope="col">Tagit</th>
                    <th scope="col">Tyyppi</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="recommendation : ${recommendations}">
                    <tr>
                        <td><p th:text="${recommendation}"/></td>
                        <td><p th:if="${recommendation.courses != null and !recommendation.courses.isEmpty()}" th:text="${recommendation.courses}"/></td>
                        <td><p th:if="${recommendation.tags != null and !recommendation.tags.isEmpty()}" th:text="${recommendation.tags}"/></td>
                        <td><p th:text="${recommendation.type}"/></td>
                    </tr>
                </div>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script>

        function filterTable() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("filterInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("vinkkilista");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows except the first, and hide those who don't match the search query
            for (i = 1; i < tr.length; i++) {
                var tds = tr[i].getElementsByTagName("td");
                var display = "none";
                for (j = 0; j < tds.length; j++) {
                    td = tds[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        txtValue = txtValue.toUpperCase();
                        if (txtValue.includes(filter)) {
                            display = "";
                            break;
                        }
                    }
                }
                tr[i].style.display = display;
            }
        }
    </script>
</html>
