<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkit</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                    </head>
                    <body>
                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" th:href="@{/}">Lukuvinkkisovellus</a>
                                </div>
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/courses}">Kurssit</a></li>
                                </ul>
                            </div>
                        </nav>

                        <div class="container" th:if="${message}">
                            <div class="alert alert-success" role="alert" th:text="${message}"></div>
                        </div>
                        <div class="container" th:if="${error}">
                            <div class="alert alert-danger" role="alert" th:text="${error}"></div>
                        </div>
                        <div class="container">
                            <input type="text" id="filterInput" onkeyup="filterTable()" placeholder="Etsi listasta" title="Etsi listasta">
                        </div>
                        <div class="container" id="vinkkilista"th:if="${recommendations}">
                            <h2>Lukuvinkit</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Kuvaus</th>
                                        <th scope="col">Kurssit</th>
                                        <th scope="col">Tagit</th>
                                        <th scope="col">Tyyppi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div th:each="recommendation : ${recommendations}">
                                        <tr>
                                            <td><p th:text="${recommendation}"/></td>
                                            <td><p th:if="${recommendation.courses != null and !recommendation.courses.isEmpty()}" th:text="${recommendation.courses}"/></td>
                                            <td><p th:if="${recommendation.tags != null and !recommendation.tags.isEmpty()}" th:text="${recommendation.tags}"/></td>
                                            <td><p th:text="${recommendation.type}"/></td>
                                        </tr>
                                    </div>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="buttons" class="container">
                            <button class="btn btn-dark" onClick="changeView('postBook')"> Lisää kirja </button>
                            <button class="btn btn-dark" onClick="changeView('postLink')"> Lisää linkki </button>
                            <button class="btn btn-dark" onClick="changeView('postPod')"> Lisää podcast </button>
                        </div>
                        <div id="postForms">
                            <div id="postBook"  style="display: none;" th:style = "${showBook} ? 'display: block' : 'display: none'">
                                <div class="container">
                                    <h3>Lisää uusi kirja</h3>
                                    <form th:object="${book}" th:action="@{/books}" method="POST">
                                        <div class="form-group">
                                            <label for="bookTitle">Kirjan nimi</label>
                                            <input type="text" name="title" id="bookTitle" th:value="*{title}">
                                                <div th:if="${#fields.hasErrors('title')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Kirjalle tulee syöttää nimi
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bookAuthor">Kirjailija</label>
                                            <input type="text" name="author" id="bookAuthor" th:value="*{author}">
                                                <div th:if="${#fields.hasErrors('author')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Kirjalle tulee syöttää kirjailija
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="bookIsbn">ISBN-koodi</label>
                                            <input type="text" name="isbn" id="bookIsbn" th:value="*{isbn}">
                                                <div th:if="${#fields.hasErrors('isbn')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        ISBN-koodi ei ole syötetty oikeassa muodossa
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="courseSelect">Aiheeseen liittyvät kurssit</label>
                                            <select class="form-control" id="courseSelect" name="selectedCourseId">
                                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" name="submit" class="btn btn-dark">Lisää uusi kirja!</button>
                                    </form>
                                </div>
                            </div>
                            <div id="postLink" class="container" style="display: none;" th:style = "${showLink} ? 'display: block' : 'display: none'">
                                <div class="container">
                                    <h3>Lisää uusi nettilähde</h3>
                                    <form th:object="${link}" th:action="@{/links}" method="POST">
                                        <div class="form-group">
                                            <label for="linkTitle">Otsikko</label>
                                            <input type="text" name="title" id="linkTitle" th:value="*{title}">
                                                <div th:if="${#fields.hasErrors('title')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Nettilähteelle tulee antaa otsikko.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="linkUrl">Url</label>
                                            <input type="text" name="url" id="linkUrl" th:value="*{url}">
                                                <div th:if="${#fields.hasErrors('url')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Nettilähteelle tulee antaa url-osoite.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="courseSelect">Aiheeseen liittyvät kurssit</label>
                                            <select class="form-control" id="courseSelect" name="selectedCourseId">
                                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" name="submit" class="btn btn-dark">Lisää uusi nettilähde!</button>
                                    </form>
                                </div>
                            </div>
                            <div id="postPod"  style="display: none;"  th:style = "${showPodcast} ? 'display: block' : 'display: none'">
                                <div class="container">
                                    <h3> Lisää uusi podcasti </h3>
                                    <form th:object="${podcast}" th:action="@{/podcasts}" method="POST">
                                        <div class="form-group">
                                            <label for="podcastTitle">Otsikko</label>
                                            <input type="text" name="title" id="podcastTitle" th:value="*{title}"> 
                                                <div th:if="${#fields.hasErrors('title')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Podcastille tulee syöttää nimi
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="podcastAuthor">Tekijä</label>
                                            <input type="text" name="author" id="podcastAuthor" th:value="*{author}">
                                                <div th:if="${#fields.hasErrors('author')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Podcastille tulee syöttää tekijä
                                                    </div>
                                                </div>                        
                                        </div>
                                        <div class="form-group">
                                            <label for="podcastUrl">Url</label>
                                            <input type="text" name="url" id="podcastUrl" th:value="*{url}">
                                                <div th:if="${#fields.hasErrors('url')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Podcastille tulee antaa url-osoite.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="podcastDescription">Kuvaus</label>
                                            <input type="text" name="description" id="podcastDescription" th:value="*{description}">
                                                <div th:if="${#fields.hasErrors('description')}">
                                                    <div class="alert alert-danger" role="alert">
                                                        Podcastille tulee antaa lyhyt kuvaus.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="courseSelect">Aiheeseen liittyvät kurssit</label>
                                            <select class="form-control" id="courseSelect" name="selectedCourseId">
                                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                                            </select>
                                        </div>
                                        <button type="submit" name="submit" class="btn btn-dark">Lisää uusi podcast!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--  
                           <div class="container">
                               <h3>Lisää uusi lukuvinkki</h3>
                               <form th:object="${recommendation}" th:action="@{/index}" method="POST">
                                   <div class="form-group">
                                       <label for="typeSelect">Tyyppi</label>
                                       <select th:value="*{typeId}" class="form-control" id="typeSelect" name="typeId" required>
                                           <option value="" selected="true" disabled="disabled">Valitse tyyppi</option>
                                           <option th:each="type : ${types}" th:value="${type.typeName}" th:text="${type.name}"></option>
                                       </select>
   
                                       <div th:if="${#fields.hasErrors('typeId')}">
                                           <div class="alert alert-danger" role="alert">
                                               Valitse tyyppi
                                           </div>
                                       </div>
                                   </div>
   
                                   <div class="form-group">
                                       <label for="entitySelect">Kuvaus</label>
                                       <select th:value="*{entityId}" class="form-control" id="entitySelect" name="entityId" required>
                                           <option value="" selected="true" disabled="disabled">Valitse kuvaus</option>
   
                                           <option disabled="disabled">- KIRJAT -</option>
                                           <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"></option>
   
                                           <option disabled="disabled">- LINKIT -</option>
                                           <option th:each="link : ${links}" th:value="${link.id}" th:text="${link.title}"></option>
   
                                           <option disabled="disabled">- PODCASTIT -</option>
                                           <option th:each="podcast : ${podcasts}" th:value="${podcast.id}" th:text="${podcast.title}"></option>
                                       </select>
   
                                       <div th:if="${#fields.hasErrors('entityId')}">
                                           <div class="alert alert-danger" role="alert">
                                               Valitse kuvaus
                                           </div>
                                       </div>
                                   </div>
                                   <button type="submit" name="submit" class="btn btn-dark">Lisää uusi lukuvinkki!</button>
                               </form>
                           </div>
                        -->
                    </body>
                    <script>
                        function changeView(id) {
                            document.getElementById("postBook").style.display = "none";
                            document.getElementById("postLink").style.display = "none";
                            document.getElementById("postPod").style.display = "none";
                            document.getElementById(id).style.display = "block";
                        }

                        function filterTable() {
                            // Declare variables
                            var input, filter, table, tr, td, i, txtValue;
                            input = document.getElementById("filterInput");
                            filter = input.value.toUpperCase();
                            table = document.getElementById("vinkkilista");
                            tr = table.getElementsByTagName("tr");
                            // Loop through all table rows except the first, and hide those who don't match the search query
                            for (i = 1; i < tr.length; i++) {
                                var tds = tr[i].getElementsByTagName("td");
                                var display = "none";
                                for (j = 0; j < tds.length; j++) {
                                    td = tds[j];
                                    if (td) {
                                        txtValue = td.textContent || td.innerText;
                                        txtValue = txtValue.toUpperCase();
                                        if (txtValue.includes(filter)) {
                                            display = "";
                                            break;
                                        }
                                    }
                                }
                                tr[i].style.display = display;
                            }
                        }
                    </script>
                    </html>
