<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lukuvinkit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">Lukuvinkkisovellus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/}">Lukuvinkit</a>
                <a class="nav-item nav-link" th:href="@{/uusi}">Lisää lukuvinkki</a>
                <a class="nav-item nav-link" th:href="@{/courses}">Kurssit</a>
            </div>
        </div>
    </nav>
    <br>

    <div class="container" th:if="${message}">
        <div class="alert alert-success alert-dismissible" role="alert" th:text="${message}"></div>
    </div>
    <div class="container" th:if="${error}">
        <div class="alert alert-danger alert-dismissible" role="alert" th:text="${error}"></div>
    </div>
    <br>
    <div class="container">
        <div class="container">
            <span>
                <input type="text" id="filterInput1" onkeyup="filterTable()" placeholder="Etsi listasta"
                    title="Etsi listasta">
                <select id="picker1" class="selectpicker" onChange="filterTable()">
                    <option value="table-class">Kaikki</option>
                    <option value="type-class">Tyyppi</option>
                    <option value="tags-class">Tagi</option>
                    <option value="courses-class">Kurssi</option>
                </select>
            </span>

        </div>
        <div class="container">
            <select id="andor" class="selectpicker" onChange="filterTable()">
                <option value="and">And</option>
                <option value="or">Or</option>
            </select>
        </div>
        <div class="container">
            <span> <input type="text" id="filterInput2" onkeyup="filterTable()" placeholder="Etsi listasta"
                    title="Etsi listasta">
                <select id="picker2" class="selectpicker" onChange="filterTable()">
                    <option value="table-class">Kaikki</option>
                    <option value="type-class">Tyyppi</option>
                    <option value="tags-class">Tagi</option>
                    <option value="courses-class">Kurssi</option>
                </select>
            </span>
        </div>
    </div>
    <br>
    <div class="container" id="vinkkilista" th:if="${recommendations}">
        <h2>Lukuvinkit</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Kuvaus</th>
                    <th scope="col">Kurssit</th>
                    <th scope="col">Tagit</th>
                    <th scope="col">Tyyppi</th>
                    <th scope="col">Luettu</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="recommendation : ${recommendations}">
                    <tr>
                        <td><a th:href="@{/lukuvinkki/(id=${recommendation.id})}" class="table-class"
                                th:text="${recommendation}" /></td>
                        <td>
                            <p class="table-class courses-class" th:text="${recommendation.coursesAsString()}" />
                        </td>
                        <td>
                            <p class="table-class tags-class" th:text="${recommendation.tagsAsString()}" />
                        </td>
                        <td>
                            <p class="table-class type-class" th:text="${recommendation.type}" />
                        </td>
                        <td><span th:title="${recommendation.readTime}" th:id="${recommendation.id}" class="btn-read fa"
                                th:classappend="${recommendation.readTime == null} ? fa-square : fa-check-square"></span>
                        </td>
                    </tr>
                </div>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script>

    function filterTable() {
        let filter1 = document.getElementById("filterInput1").value.toUpperCase();
        let filter2 = document.getElementById("filterInput2").value.toUpperCase();
        let rajaus1 = document.getElementById("picker1").value;
        let rajaus2 = document.getElementById("picker2").value;
        let andor = document.getElementById("andor").value;
        switch (andor) {
            case "or":
                orFilter(filter1, filter2, rajaus1, rajaus2);
                break;
            case "and":
                andFilter(filter1, filter2, rajaus1, rajaus2);
                break;
            default:
        }
    }

    function orFilter(filter1, filter2, rajaus1, rajaus2) {
        let table = document.getElementById("vinkkilista");
        let rows = table.getElementsByTagName("tr");
        for (i = 1; i < rows.length; i++) {
            tr = rows[i];
            filter1Pass = rowFilter(tr, filter1, rajaus1);
            filter2Pass = rowFilter(tr, filter2, rajaus2);
            if (filter1Pass || filter2Pass) {
                tr.style.display = "";
            } else {
                tr.style.display = "none";
            }
        }
    }

    function andFilter(filter1, filter2, rajaus1, rajaus2) {
        table = document.getElementById("vinkkilista");
        rows = table.getElementsByTagName("tr");
        for (i = 1; i < rows.length; i++) {
            tr = rows[i];
            filter1Pass = rowFilter(tr, filter1, rajaus1);
            filter2Pass = rowFilter(tr, filter2, rajaus2);
            if (filter1Pass && filter2Pass) {
                tr.style.display = "";
            } else {
                tr.style.display = "none";
            }
        }
    }

    function rowFilter(row, filter, rajaus) {
        let tds = row.getElementsByClassName(rajaus);
        for (j = 0; j < tds.length; j++) {
            let td = tds[j];
            let txtValue = td.textContent || td.innerText;
            txtValue = txtValue.toUpperCase();
            if (txtValue.includes(filter)) {
                return true;
            }
        }
        return false;
    }

    $(".btn-read").click(function () {
        var clicked = $(this);

        var read = clicked.hasClass("fa-check-square");

        setReadStatus(clicked, !read);

        fetch("recommendation/read",
            {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        id: clicked.attr('id'),
                        read: !read
                    })
            }).then((response) => response.json())
            .then((json) => {
                if (!json.success) {
                    setReadStatus(clicked, read);

                    alert(json.error);
                }
                else {
                    setReadStatus(clicked, !read);
                }
            })
            .catch((error) => setReadStatus(clicked, read));
    });

    function setReadStatus(target, read) {
        if (read) {
            target.removeClass("fa-square");
            target.addClass("fa-check-square");
        }
        else {
            target.removeClass("fa-check-square");
            target.addClass("fa-square");
        }
    }
</script>

<style>
    .btn-read {
        cursor: pointer;
    }

    .green {
        color: green;
    }
</style>

</html>