<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lukuvinkki</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="/fragments/navbar"></div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm">
                <h2>Lukuvinkki <a th:text="${recommendation.title}" /></h2>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <a th:href="@{/lukuvinkki/muokkaa/(id=${recommendation.id})}"
                   class="btn btn-dark" role="button" aria-pressed="true">Muokkaa tietoja</a>
            </div>
        </div>
        <br>
    </div>

    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Tyyppi</th>
                    <td><a th:text="${recommendation.type}" /></td>
                </tr>
                <tr>
                    <th>Otsikko</th>
                    <td><a th:text="${recommendation.title}" /></td>
                </tr>
                <div
                    th:if="${recommendation.type == T(ohtu.database.entities.recommendations.RecommendationType).LINKKI}">
                    <tr>
                        <th>Url</th>
                        <td><a th:text="${recommendation.url}" /></td>
                    </tr>
                </div>
                <div
                    th:if="${recommendation.type == T(ohtu.database.entities.recommendations.RecommendationType).PODCAST}">
                    <tr>
                        <th>Tekijä</th>
                        <td><a th:text="${recommendation.author}" /></td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td><a th:text="${recommendation.url}" /></td>
                    </tr>
                    <tr>
                        <th>Kuvaus</th>
                        <td><a th:text="${recommendation.description}" /></td>
                    </tr>
                </div>

                <div
                    th:if="${recommendation.type == T(ohtu.database.entities.recommendations.RecommendationType).BOOK}">
                    <tr>
                        <th>Kirjoittaja</th>
                        <td><a th:text="${recommendation.author}" /></td>
                    </tr>
                    <tr>
                        <th>ISBN-koodi</th>
                        <td><a th:text="${recommendation.isbn}" /></td>
                    </tr>
                </div>

                <div
                    th:if="${recommendation.type == T(ohtu.database.entities.recommendations.RecommendationType).YOUTUBE}">
                    <tr>
                        <th>Tekijä</th>
                        <td><a th:text="${recommendation.author}" /></td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td><a th:text="${recommendation.url}" /></td>
                    </tr>
                    <tr>
                        <th>Kuvaus</th>
                        <td><a th:text="${recommendation.description}" /></td>
                    </tr>
                </div>

                <tr>
                    <th>Aiheeseen liittyvät kurssit</th>
                    <td><a th:text="${recommendation.coursesAsString()}" /></td>
                </tr>
                <tr>
                    <th>Tagit</th>
                    <td><a th:text="${recommendation.tagsAsString()}" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" th:if="${recommendation.type == T(ohtu.database.entities.recommendations.RecommendationType).YOUTUBE && recommendation.getVideoCode() != null}">
        <h3>Embed</h3>
    
        <iframe picture-in-picture frameborder="0" allowfullscreen width="560" height="315" th:src="${'https://www.youtube.com/embed/' + recommendation.getVideoCode()}"/>
    </div>
</body>

</html>
