<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Recommendations</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Lukuvinkit</h1>
        <ul>
            <li th:each="recommendation : ${recommendations}">
                <p th:text="${recommendation.title}"/>
            </li>
        </ul>
        <br>
        <p><a th:href="@{/index}">Lukuvinkit</a></p>
        <p><a th:href="@{/courses}">Kurssit</a></p>
    </body>
</html>
